In [36]:
import numpy as np
import pandas as pd
#import matplotlib.pyplot as plt

In [37]:
# The goal of the analysis
# 1. Find the top products
#2. Find the top clients
# 3. Revenue

In [38]:
customers = pd.read_csv("customers.csv")

In [39]:
products = pd.read_csv("products.csv")

In [40]:
ratings = pd.read_csv("ratings.csv")

In [41]:
orders = pd.read_csv("orders.csv")

### Converting order_date in the order dataset to datetime format

In [42]:
orders

     order_id  customer_id  product_id                  order_date  quantity
0           1           66          38  2023-08-09 08:39:23.971834         4
1           2           10          29  2023-09-08 08:39:23.971834         4
2           3           58           9  2023-07-29 08:39:23.971834         3
3           4           33          44  2023-09-13 08:39:23.971834         4
4           5           32          47  2023-07-24 08:39:23.971834         2
..        ...          ...         ...                         ...       ...
995       996           30          42  2023-08-15 08:39:23.971834         4
996       997            3          16  2023-09-11 08:39:23.971834         2
997       998           84          29  2023-09-05 08:39:23.971834         2
998       999           77          43  2023-08-13 08:39:23.971834         4
999      1000           19          32  2023-09-07 08:39:23.971834         3

[1000 rows x 5 columns]

In [43]:
orders["order_date"] = pd.to_datetime(orders["order_date"])

In [44]:
orders

     order_id  customer_id  product_id                 order_date  quantity
0           1           66          38 2023-08-09 08:39:23.971834         4
1           2           10          29 2023-09-08 08:39:23.971834         4
2           3           58           9 2023-07-29 08:39:23.971834         3
3           4           33          44 2023-09-13 08:39:23.971834         4
4           5           32          47 2023-07-24 08:39:23.971834         2
..        ...          ...         ...                        ...       ...
995       996           30          42 2023-08-15 08:39:23.971834         4
996       997            3          16 2023-09-11 08:39:23.971834         2
997       998           84          29 2023-09-05 08:39:23.971834         2
998       999           77          43 2023-08-13 08:39:23.971834         4
999      1000           19          32 2023-09-07 08:39:23.971834         3

[1000 rows x 5 columns]

#### Merging the order and the customer dataset

In [45]:
merged_data = orders.merge(products, on="product_id").merge(customers, on="customer_id")

In [46]:
merged_data

,order_id,customer_id,product_id,order_date,quantity,product_name,price,category,name
0,1,66,38,2023-08-09 08:39:23.971834,4,Bekant Conference Table,441,Tables & Desks,Customer_66
1,429,66,38,2023-09-10 08:39:23.971834,3,Bekant Conference Table,441,Tables & Desks,Customer_66
2,101,66,47,2023-08-26 08:39:23.971834,1,Nymö Lamp Shade,157,Lighting,Customer_66
3,563,66,26,2023-09-02 08:39:23.971834,2,Docksta Table,859,Tables & Desks,Customer_66
4,540,66,11,2023-08-18 08:39:23.971834,2,Billy Bookcase,287,Storage Solutions,Customer_66
...,...,...,...,...,...,...,...,...,...
995,697,83,22,2023-08-22 08:39:23.971834,3,Nordli Chest Drawers,561,Decor,Customer_83
996,193,38,19,2023-09-15 08:39:23.971834,4,Ribba Frame,324,Decor,Customer_38
997,911,38,32,2023-08-06 08:39:23.971834,1,Kivik Chaise,926,Sofas & Armchairs,Customer_38
998,738,38,6,2023-09-08 08:39:23.971834,4,Brimnes Bed Storage,773,Beds,Customer_38
999,747,38,4,2023-09-09 08:39:23.971834,3,Malm Bed Frame,202,Beds,Customer_38

In [47]:
product_performance = merged_data.groupby("product_name").agg({"price":"sum", "quantity":"sum"}).reset_index()

In [48]:
product_performance

               product_name  price  quantity
0          Askvoll Wardrobe   3864        50
1   Bekant Conference Table  11907        62
2            Bernhard Chair   1280        36
3            Bestå TV Bench  18400        46
4            Billy Bookcase   5453        40
5       Brimnes Bed Storage  23190        77
6             Docksta Table  18039        54
7               Ektorp Sofa  14574        59
8        Fjälla Storage Box  18734        44
9               Fredde Desk  18854        46
10         Gronlid Armchair  12223        43
11         Hektar Work Lamp  10491        32
12            Hemnes Daybed  16900        53
13         Ingolf Bar Stool   9135        39
14             Ivar Cabinet  17862        55
15     Kallax Shelving Unit  15393        51
16             Kivik Chaise   9260        22
17         Klippan Loveseat  12141        52
18          Koppang Dresser  14535        48
19          Lack Side Table  13623        39
20            Lerhamn Chair   2375        41
21         Lommarp Bookcase  13760        41
22    Mackapar Shoe Storage  15114        80
23           Malm Bed Frame   4848        46
24    Melltorp Dining Table  10332        62
25               Micke Desk    304        43
26         Mörbylånga Table   5364        50
27             Nockeby Sofa  18101        58
28     Nordli Chest Drawers  12342        59
29          Nymö Lamp Shade   3297        46
30        Pjatteryd Picture  14300        41
31           Poäng Armchair  13656        63
32              Ranarp Lamp   9158        44
33           Raskog Trolley  10696        35
34       Rens Sheepskin Rug   9760        38
35              Ribba Frame   5184        37
36     Rugveda Coffee Table  16065        46
37             Råskog Stool  20520        59
38   Sinnerlig Pendant Lamp  11590        52
39      Sjöpenna Floor Lamp   3366        48
40      Skurup Ceiling Lamp   7308        49
41         Småstad Wardrobe  20874        52
42         Stockholm Mirror   6448        34
43     Strandmon Wing Chair   2050        61
44           Stuva Loft Bed   1455        32
45   Söderhamn Sofa Section  11691        63
46         Tarva Nightstand   7111        33
47      Terje Folding Chair  15466        44
48        Tingby Side Table   2071        48
49       Valje Wall Cabinet  16056        60

In [49]:
top_products_revenue = product_performance.sort_values(by="price", ascending=False)
top_products_units = product_performance.sort_values(by="quantity", ascending=False)


top_products_revenue

               product_name  price  quantity
5       Brimnes Bed Storage  23190        77
41         Småstad Wardrobe  20874        52
37             Råskog Stool  20520        59
9               Fredde Desk  18854        46
8        Fjälla Storage Box  18734        44
3            Bestå TV Bench  18400        46
27             Nockeby Sofa  18101        58
6             Docksta Table  18039        54
14             Ivar Cabinet  17862        55
12            Hemnes Daybed  16900        53
36     Rugveda Coffee Table  16065        46
49       Valje Wall Cabinet  16056        60
47      Terje Folding Chair  15466        44
15     Kallax Shelving Unit  15393        51
22    Mackapar Shoe Storage  15114        80
7               Ektorp Sofa  14574        59
18          Koppang Dresser  14535        48
30        Pjatteryd Picture  14300        41
21         Lommarp Bookcase  13760        41
31           Poäng Armchair  13656        63
19          Lack Side Table  13623        39
28     Nordli Chest Drawers  12342        59
10         Gronlid Armchair  12223        43
17         Klippan Loveseat  12141        52
1   Bekant Conference Table  11907        62
45   Söderhamn Sofa Section  11691        63
38   Sinnerlig Pendant Lamp  11590        52
33           Raskog Trolley  10696        35
11         Hektar Work Lamp  10491        32
24    Melltorp Dining Table  10332        62
34       Rens Sheepskin Rug   9760        38
16             Kivik Chaise   9260        22
32              Ranarp Lamp   9158        44
13         Ingolf Bar Stool   9135        39
40      Skurup Ceiling Lamp   7308        49
46         Tarva Nightstand   7111        33
42         Stockholm Mirror   6448        34
4            Billy Bookcase   5453        40
26         Mörbylånga Table   5364        50
35              Ribba Frame   5184        37
23           Malm Bed Frame   4848        46
0          Askvoll Wardrobe   3864        50
39      Sjöpenna Floor Lamp   3366        48
29          Nymö Lamp Shade   3297        46
20            Lerhamn Chair   2375        41
48        Tingby Side Table   2071        48
43     Strandmon Wing Chair   2050        61
44           Stuva Loft Bed   1455        32
2            Bernhard Chair   1280        36
25               Micke Desk    304        43

In [50]:
top_products_units

               product_name  price  quantity
22    Mackapar Shoe Storage  15114        80
5       Brimnes Bed Storage  23190        77
31           Poäng Armchair  13656        63
45   Söderhamn Sofa Section  11691        63
1   Bekant Conference Table  11907        62
24    Melltorp Dining Table  10332        62
43     Strandmon Wing Chair   2050        61
49       Valje Wall Cabinet  16056        60
7               Ektorp Sofa  14574        59
37             Råskog Stool  20520        59
28     Nordli Chest Drawers  12342        59
27             Nockeby Sofa  18101        58
14             Ivar Cabinet  17862        55
6             Docksta Table  18039        54
12            Hemnes Daybed  16900        53
38   Sinnerlig Pendant Lamp  11590        52
41         Småstad Wardrobe  20874        52
17         Klippan Loveseat  12141        52
15     Kallax Shelving Unit  15393        51
26         Mörbylånga Table   5364        50
0          Askvoll Wardrobe   3864        50
40      Skurup Ceiling Lamp   7308        49
48        Tingby Side Table   2071        48
18          Koppang Dresser  14535        48
39      Sjöpenna Floor Lamp   3366        48
36     Rugveda Coffee Table  16065        46
23           Malm Bed Frame   4848        46
3            Bestå TV Bench  18400        46
29          Nymö Lamp Shade   3297        46
9               Fredde Desk  18854        46
47      Terje Folding Chair  15466        44
32              Ranarp Lamp   9158        44
8        Fjälla Storage Box  18734        44
25               Micke Desk    304        43
10         Gronlid Armchair  12223        43
21         Lommarp Bookcase  13760        41
20            Lerhamn Chair   2375        41
30        Pjatteryd Picture  14300        41
4            Billy Bookcase   5453        40
13         Ingolf Bar Stool   9135        39
19          Lack Side Table  13623        39
34       Rens Sheepskin Rug   9760        38
35              Ribba Frame   5184        37
2            Bernhard Chair   1280        36
33           Raskog Trolley  10696        35
42         Stockholm Mirror   6448        34
46         Tarva Nightstand   7111        33
11         Hektar Work Lamp  10491        32
44           Stuva Loft Bed   1455        32
16             Kivik Chaise   9260        22

In [51]:
top_products_units = top_products_units.rename(columns={"price":"price(£)"})

In [52]:
top_products_units

               product_name  price(£)  quantity
22    Mackapar Shoe Storage     15114        80
5       Brimnes Bed Storage     23190        77
31           Poäng Armchair     13656        63
45   Söderhamn Sofa Section     11691        63
1   Bekant Conference Table     11907        62
24    Melltorp Dining Table     10332        62
43     Strandmon Wing Chair      2050        61
49       Valje Wall Cabinet     16056        60
7               Ektorp Sofa     14574        59
37             Råskog Stool     20520        59
28     Nordli Chest Drawers     12342        59
27             Nockeby Sofa     18101        58
14             Ivar Cabinet     17862        55
6             Docksta Table     18039        54
12            Hemnes Daybed     16900        53
38   Sinnerlig Pendant Lamp     11590        52
41         Småstad Wardrobe     20874        52
17         Klippan Loveseat     12141        52
15     Kallax Shelving Unit     15393        51
26         Mörbylånga Table      5364        50
0          Askvoll Wardrobe      3864        50
40      Skurup Ceiling Lamp      7308        49
48        Tingby Side Table      2071        48
18          Koppang Dresser     14535        48
39      Sjöpenna Floor Lamp      3366        48
36     Rugveda Coffee Table     16065        46
23           Malm Bed Frame      4848        46
3            Bestå TV Bench     18400        46
29          Nymö Lamp Shade      3297        46
9               Fredde Desk     18854        46
47      Terje Folding Chair     15466        44
32              Ranarp Lamp      9158        44
8        Fjälla Storage Box     18734        44
25               Micke Desk       304        43
10         Gronlid Armchair     12223        43
21         Lommarp Bookcase     13760        41
20            Lerhamn Chair      2375        41
30        Pjatteryd Picture     14300        41
4            Billy Bookcase      5453        40
13         Ingolf Bar Stool      9135        39
19          Lack Side Table     13623        39
34       Rens Sheepskin Rug      9760        38
35              Ribba Frame      5184        37
2            Bernhard Chair      1280        36
33           Raskog Trolley     10696        35
42         Stockholm Mirror      6448        34
46         Tarva Nightstand      7111        33
11         Hektar Work Lamp     10491        32
44           Stuva Loft Bed      1455        32
16             Kivik Chaise      9260        22

In [53]:
import datetime as dt

In [54]:
#filtering orders for the last month
last_month = merged_data[merged_data["order_date"].dt.month == merged_data["order_date"].dt.month.max()]

#calculating the total purchase amount for each customer in the last month
top_clients_last_month = last_month.groupby("name").agg({"price":"sum"}).reset_index()

top_clients_last_month = top_clients_last_month.sort_values(by="price", ascending=False)

In [55]:
top_clients_last_month

           name  price
0    Customer_1   5466
26  Customer_33   4476
38  Customer_44   4259
46  Customer_52   4236
71  Customer_76   3981
..          ...    ...
78  Customer_82    187
3   Customer_11    184
4   Customer_12    176
56  Customer_61    157
76  Customer_80     97

[96 rows x 2 columns]

In [56]:
#Notably, in the last one month, customer_1 has more purchase than every other customer. 
# But we needd to find if this is a loyal customer to the brand

In [57]:
# We'll do so by performing customer segmentation on the data using the RFM method

### What is RFM method?

In [58]:
#RFM analysis, which stands for Recency, Frequency, and Monetary value, is a technique that helps marketers identify..
#...their most valuable customers.

In [59]:
latest_date = merged_data["order_date"].max() + dt.timedelta(days=1)

### Calculating the RFM values

In [60]:
rfm = merged_data.groupby("customer_id").agg({
    "order_date": lambda x: (latest_date - x.max()).days,
    "order_id":"count", 
    "price":"sum"
}).rename(columns={
    "order_date":"recency",
    "order_id":"frequency",
    "price":"monetary"
})

### Assigning scores from 1 to 5 for each metric

In [61]:
rfm["recency_score"] = pd.qcut(rfm["recency"], 5, labels=[5,4,3,2,1])
rfm["frequency_score"] = pd.qcut(rfm["frequency"], 5, labels=[1,2,3,4,5])
rfm["monetary_score"] = pd.qcut(rfm["monetary"], 5, labels = [1,2,3,4,5])

In [62]:
#combine scores

In [63]:
rfm["rfm_score"] = rfm["recency_score"].astype(str) + rfm["frequency_score"].astype(str) + rfm["monetary_score"].astype(str)

rfm_sorted = rfm.sort_values(by=["rfm_score"], ascending=False)

In [64]:
rfm_sorted

,recency,frequency,monetary,recency_score,frequency_score,monetary_score,rfm_score
customer_id,,,,,,,
1,1,18,12106,5,5,5,555
29,1,14,9225,5,5,5,555
52,1,16,8862,5,5,5,555
47,2,14,7385,5,5,5,555
33,2,15,8769,5,5,5,555
...,...,...,...,...,...,...,...
87,21,7,3502,1,1,1,111
79,16,3,2029,1,1,1,111
46,29,4,2488,1,1,1,111
13,12,6,3657,1,1,1,111
58,15,5,2324,1,1,1,111

In [65]:
ratings

     customer_id  product_id  rating
0             83          31       2
1             73          38       3
2              2          18       1
3            100          39       3
4             47          16       1
..           ...         ...     ...
395           92          50       5
396           35          26       2
397           60          13       5
398           22           7       5
399           64          48       1

[400 rows x 3 columns]

#### Identifying the top reviewed product

In [66]:
top_reviewed_products = ratings.groupby("product_id").size().reset_index(name="num_reviews")
top_reviewed_products = top_reviewed_products.merge(products, on="product_id")
top_reviewed_products = top_reviewed_products.sort_values(by="num_reviews", ascending=False)

In [67]:
top_reviewed_products

    product_id  num_reviews             product_name  price           category
11          12           16           Raskog Trolley    764  Storage Solutions
37          38           14  Bekant Conference Table    441     Tables & Desks
6            7           13          Lack Side Table    717     Tables & Desks
30          31           12             Nockeby Sofa    787  Sofas & Armchairs
44          45           11         Hektar Work Lamp    807           Lighting
31          32           11             Kivik Chaise    926  Sofas & Armchairs
27          28           11         Tarva Nightstand    547              Decor
26          27           11             Ivar Cabinet    687  Storage Solutions
16          17           11   Sinnerlig Pendant Lamp    610           Lighting
29          30           11     Strandmon Wing Chair     82             Chairs
8            9           11               Micke Desk     19     Tables & Desks
5            6           11      Brimnes Bed Storage    773               Beds
13          14           10         Ingolf Bar Stool    609             Chairs
3            4           10           Malm Bed Frame    202               Beds
4            5           10            Hemnes Daybed    845               Beds
17          18           10      Skurup Ceiling Lamp    406           Lighting
47          48           10           Bestå TV Bench    920              Decor
10          11            9           Billy Bookcase    287  Storage Solutions
38          39            9    Mackapar Shoe Storage    458  Storage Solutions
48          49            9   Söderhamn Sofa Section    433  Sofas & Armchairs
36          37            9              Fredde Desk    857     Tables & Desks
49          50            9         Mörbylånga Table    298     Tables & Desks
12          13            9      Terje Folding Chair    814             Chairs
39          40            8         Lommarp Bookcase    860  Storage Solutions
33          34            8       Fjälla Storage Box    986  Storage Solutions
7            8            8    Melltorp Dining Table    369     Tables & Desks
40          41            8        Tingby Side Table    109     Tables & Desks
41          42            7         Småstad Wardrobe    994  Storage Solutions
43          44            7          Koppang Dresser    765              Decor
45          46            7       Valje Wall Cabinet    669  Storage Solutions
25          26            7            Docksta Table    859     Tables & Desks
28          29            7             Råskog Stool    855             Chairs
15          16            7              Ranarp Lamp    482           Lighting
19          20            6        Pjatteryd Picture    715              Decor
2            3            6         Klippan Loveseat    639  Sofas & Armchairs
9           10            6     Kallax Shelving Unit    733  Storage Solutions
18          19            6              Ribba Frame    324              Decor
20          21            6         Stockholm Mirror    496              Decor
22          23            5           Stuva Loft Bed     97               Beds
21          22            5     Nordli Chest Drawers    561              Decor
23          24            5         Askvoll Wardrobe    184  Storage Solutions
14          15            5           Bernhard Chair     80             Chairs
1            2            5           Poäng Armchair    569  Sofas & Armchairs
0            1            5              Ektorp Sofa    694  Sofas & Armchairs
35          36            4         Gronlid Armchair    719              Decor
46          47            4          Nymö Lamp Shade    157           Lighting
32          33            3            Lerhamn Chair    125             Chairs
42          43            3      Sjöpenna Floor Lamp    187           Lighting
34          35            3     Rugveda Coffee Table    765     Tables & Desks
24          25            2       Rens Sheepskin Rug    610              Decor

In [68]:
reviews_per_customer = ratings.groupby("customer_id").size()
avg_reviews_per_customer = reviews_per_customer.mean()

In [69]:
# to have the average rating included in our result we will simply write

In [70]:
product_reviews = ratings.groupby("product_id").agg({
    "rating": ["count", "mean"]
}).reset_index()

#flattening the column header for easier reference
product_reviews.columns = ["product_id", "num_reviews", "avg_rating"]

# merging with the product dataset to get the product names
product_reviews = product_reviews.merge(products, on="product_id")

top_reviewed_with_avg_rating = product_reviews.sort_values(by="avg_rating", ascending=False)

top_reviewed_with_avg_rating

,product_id,num_reviews,avg_rating,product_name,price,category
24,25,2,4.500000,Rens Sheepskin Rug,610,Decor
19,20,6,4.166667,Pjatteryd Picture,715,Decor
3,4,10,3.900000,Malm Bed Frame,202,Beds
43,44,7,3.857143,Koppang Dresser,765,Decor
21,22,5,3.800000,Nordli Chest Drawers,561,Decor
13,14,10,3.800000,Ingolf Bar Stool,609,Chairs
36,37,9,3.777778,Fredde Desk,857,Tables & Desks
46,47,4,3.750000,Nymö Lamp Shade,157,Lighting
42,43,3,3.666667,Sjöpenna Floor Lamp,187,Lighting
49,50,9,3.666667,Mörbylånga Table,298,Tables & Desks
5,6,11,3.636364,Brimnes Bed Storage,773,Beds
22,23,5,3.600000,Stuva Loft Bed,97,Beds
44,45,11,3.454545,Hektar Work Lamp,807,Lighting
28,29,7,3.428571,Råskog Stool,855,Chairs
37,38,14,3.428571,Bekant Conference Table,441,Tables & Desks
10,11,9,3.222222,Billy Bookcase,287,Storage Solutions
14,15,5,3.200000,Bernhard Chair,80,Chairs
31,32,11,3.181818,Kivik Chaise,926,Sofas & Armchairs
20,21,6,3.166667,Stockholm Mirror,496,Decor
9,10,6,3.166667,Kallax Shelving Unit,733,Storage Solutions
15,16,7,3.142857,Ranarp Lamp,482,Lighting
47,48,10,3.100000,Bestå TV Bench,920,Decor
12,13,9,3.000000,Terje Folding Chair,814,Chairs
45,46,7,3.000000,Valje Wall Cabinet,669,Storage Solutions
6,7,13,3.000000,Lack Side Table,717,Tables & Desks
1,2,5,3.000000,Poäng Armchair,569,Sofas & Armchairs
26,27,11,3.000000,Ivar Cabinet,687,Storage Solutions
32,33,3,3.000000,Lerhamn Chair,125,Chairs
30,31,12,3.000000,Nockeby Sofa,787,Sofas & Armchairs
16,17,11,2.909091,Sinnerlig Pendant Lamp,610,Lighting
29,30,11,2.909091,Strandmon Wing Chair,82,Chairs
25,26,7,2.857143,Docksta Table,859,Tables & Desks
2,3,6,2.833333,Klippan Loveseat,639,Sofas & Armchairs
8,9,11,2.818182,Micke Desk,19,Tables & Desks
0,1,5,2.800000,Ektorp Sofa,694,Sofas & Armchairs
23,24,5,2.800000,Askvoll Wardrobe,184,Storage Solutions
48,49,9,2.777778,Söderhamn Sofa Section,433,Sofas & Armchairs
40,41,8,2.750000,Tingby Side Table,109,Tables & Desks
7,8,8,2.750000,Melltorp Dining Table,369,Tables & Desks
33,34,8,2.750000,Fjälla Storage Box,986,Storage Solutions
41,42,7,2.714286,Småstad Wardrobe,994,Storage Solutions
18,19,6,2.666667,Ribba Frame,324,Decor
34,35,3,2.666667,Rugveda Coffee Table,765,Tables & Desks
38,39,9,2.555556,Mackapar Shoe Storage,458,Storage Solutions
27,28,11,2.545455,Tarva Nightstand,547,Decor
4,5,10,2.500000,Hemnes Daybed,845,Beds
35,36,4,2.500000,Gronlid Armchair,719,Decor
11,12,16,2.312500,Raskog Trolley,764,Storage Solutions
17,18,10,2.300000,Skurup Ceiling Lamp,406,Lighting
39,40,8,1.750000,Lommarp Bookcase,860,Storage Solutions